In [4]:
from micom.data import test_results
from micom import Community, data

OSQP and HIGHS are available but could not load the hybrid interface.
Traceback (most recent call last):
  File "/Users/laurielyon/micromamba/envs/micom/lib/python3.12/site-packages/optlang/__init__.py", line 61, in <module>
    from optlang import hybrid_interface
  File "/Users/laurielyon/micromamba/envs/micom/lib/python3.12/site-packages/optlang/hybrid_interface.py", line 26, in <module>
    import optlang.matrix_interface as mi
  File "/Users/laurielyon/micromamba/envs/micom/lib/python3.12/site-packages/optlang/matrix_interface.py", line 40, in <module>
    from numpy import Infinity, array, concatenate, zeros
ImportError: cannot import name 'Infinity' from 'numpy' (/Users/laurielyon/micromamba/envs/micom/lib/python3.12/site-packages/numpy/__init__.py). Did you mean: 'isfinite'?

In [2]:
mydf = pd.DataFrame({
    "animals":["dog", "spider", "cat"],
    "legs":[4, 8, 4]
})

In [3]:
mydf

  animals  legs
0     dog     4
1  spider     8
2     cat     4